.greeting-about {
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    text-transform: capitalize;
    margin: 10px 0;
}

.welcome.about {
    position: absolute;
    top: 10%;
    width: 100%;
    font-weight: 600;
}

.active {
    border-bottom: solid #747472 1px;
    padding-bottom: 1px;
}

.section-one {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100vw;
    text-align: center;
}

.description {
    width: 50vw;
    font-size: 28px;
}

.contact-info {
    margin-top: 40px;
    border: sold yellow 1px;
}

.fa-file-alt, .fa-envelope {
    padding-right: 10px;
}

/* experience and education section  */

#education {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.far, .fas {
    padding-right: 10px;
}
.location, .date {
    color: rgb(51, 77, 77);
}

.job p {
    font-size: 22px;
    text-align: center;
    width: 100%;
}

.job, p, .date, .location {
    text-align: center;
    padding-top: 5px;

}
.location {
    padding-bottom: 25px;
}
 
/* skills section  */

.row {
    display: flex;
    width: 96%;
}

.column-one, .column-two, p {
    width: 50%;
    text-align: center;
    padding-left: 80px;
}

.row p {
    text-align: center;
    width: 80%;
}

hr {
    width: 80%;
    padding-top: 5px;
}