.colorblock-four {
    position: absolute;
    display: flex;
    /* justify-content: center; */
    align-content: center;
    /* align-items: center;  */
    /* border: solid purple 1px; */
    background: #ece9e7;
    width: 95vw;
    height: 90vh;
}